/* Write your CSS here */
.list-container {
  list-style-type: none;
  margin: 10px;
}

.btn {
  border: 1px solid #c4c4c4;
  background-color: #382f5a;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  font-size: 23px;
  color: #d4d2db;
  cursor: pointer;
  outline: none;
}
